* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #ff4d4d;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.nav-buttons button {
    margin-left: 10px;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
}

.login {
    background: transparent;
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
}

.signup {
    background: #ff4d4d;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.signup:hover{
    background-color: #fff;
    color: #ff4d4d;
    border: 1px solid #ff4d4d;
}

/* Hero Section */
.hero {
    display: flex;
    padding: 60px;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.order-btn {
    padding: 12px 30px;
    background: #ff4d4d;
    color: #fff;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    gap: 10px;
}

.search-box input,
.search-box select {
    padding: 12px;
    width: 200px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.search-btn {
    padding: 12px 20px;
    background: #ff4d4d;
    color: #fff;
    border-radius: 6px;
    border: none;
    transition:all 0.2s ease-in-out;
}
.search-btn:hover{
    transform: scale(1.1);
    background-color: #fff;
    color: #ff4d4d;
    border: 1px solid #ff4d4d
}

/* Hero Image */
.hero-img img {
    width: 450px;
    border-radius: 15px;
}

/* Categories */
.categories {
    padding: 40px;
    text-align: center;
}

.category-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.cat {
    padding: 20px 40px;
    background: #ffecec;
    border-radius: 12px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.cat:hover{
    transform:scale(1.1);
    background-color: pink;
}

/* Restaurants */
.restaurants {
    padding: 40px;
}

.rest-grid {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.rest-card {
    width: 250px;
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: all 0.1s ease-in-out;
}
.rest-card:hover{
    transform: scale(1.2);
}

.rest-card img {
    width: 100%;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
}

/* Offers */
.offers {
    padding: 40px;
}

.offer-grid {
    display: flex;
    gap: 20px;
}

.offer {
    background: #ffefef;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
}

/* Testimonials */
.testimonials {
    padding: 40px;
}

.testimonial-grid {
    display: flex;
    gap: 20px;
}

.t-card {
    flex: 1;
    background: #ffecec;
    padding: 20px;
    border-radius: 12px;
    transition: all 0.1s ease-in-out;
}
.t-card:hover{
    transform: scale(1.1);
    background-color: pink;
}